:root {
    background-image: linear-gradient(to bottom, rgb(255, 198, 198), rgb(255, 255, 255), rgb(255, 198, 198));
    /* margin: 0; */
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
}

#root {
    min-height: 0;
    display: flex;
    flex-direction: column;
    height:100%;
}

html,body {
    height:100%;
    overflow-y: hidden;
}